* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 450px;
  padding: 0 10px;
  margin: 0 auto;
  margin-top: 250px;
}

.title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 15px;
}
